@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Demo_GiohangSD19315.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    
     var mess1= ViewData["mess1"];
}

        <h1>@mess1</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <form asp-controller="SanPham" asp-action="Index" method="get">
            <input type="text" id="searchInput" name="name"
                placeholder="nhập chuỗi đê eml"/>

        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        SanPham Id
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().SanPhamName)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SanPhamId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SanPhamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.SanPhamId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.SanPhamId }) |
                            @using (Html.BeginForm("AddToCart", "SanPham", FormMethod.Post))
                            {
                                @Html.Hidden("id", item.SanPhamId) <!-- Thay yourIdValue bằng giá trị id thực tế -->
                                <div class="form-group">
                                    <label for="quantity" class="control-label">Quantity:</label>
                                    <input type="text" name="soluong" id="soluong" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Add to Cart" class="btn btn-default" />
                                </div>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
<div class="pagination-lg ">
    @Html.PagedListPager(Model, page=> Url.Action("Index", new {page}))
</div>

    


